<div class="footer mt-4 pt-4 text-white-50">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-white mb-4">Kontakt</h5>
                    <p>
                        Schwäbischer Verlag GmbH<br>
                        &amp; Co. KG Drexler, Gessler
                    </p>
                    <p>
                        Karlstraße 16<br>
                        D-88212 Ravensburg
                    </p>
                    <p>
                        Tel.: +49 (0)751 29 55 - 0<br>
                        Fax: +49 (0)751 29 55 - 1499<br>
                        <a href="mailto:info@schwaebisch-media.de">info@schwaebisch-media.de</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body links">
                <h5 class="card-title text-white mb-4">Links</h5>
                    <a href="" title="">Impressum &amp; AGBs</a>
                    <a href="http://www.schwaebisch-media.de" title="">schwaebisch-media.de</a>
                    <a href="" title=""></a>
                    <a href="" title=""></a>
                    <a href="" title=""></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body logos">
                <h5 class="card-title text-white mb-4">Marken des Hauses</h5>
                <a href="http://www.schwaebische.de/" title="Schwäbische Zeitung" target="_blank">
                    <img src="{{ asset('svg/sm_schwaebischezeitung.svg', 'theme') }}" alt="Schwäbische Zeitung" />
                </a>
                <a href="http://www.schwaebische.de/" title="Schwäbische Zeitung" target="_blank">
                    <img src="{{ asset('svg/sm_schwaebischeonline.svg', 'theme') }}" alt="Schwäbische Zeitung" />
                </a>
                <a href="http://www.regio-tv.de/" title="Regio TV" target="_blank">
                    <img src="{{ asset('svg/sm_regiotv.svg', 'theme') }}" alt="RegioTV" />
                </a>
                <a href="http://www.suedfinder.de/" title="Südfinder" target="_blank">
                    <img src="{{ asset('svg/sm_suedfinder.svg', 'theme') }}" alt="Südfinder" />
                </a>
                <a href="https://www.startbahnsued.de/?utm_source=mediadatene&utm_medium=Link_Footer&utm_campaign=InhouseAcquisition" title="startbahnsüd.de" target="_blank">
                    <img src="{{ asset('svg/sm_startbahnsued.svg', 'theme') }}" alt="" />
                </a>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center text-white-50 py-2">
        &copy; {{ "now"|date("Y") }} Schwäbisch Media 
    </div>
</div>
