{% extends '_master.twig' %}
{% block main %}

<div class="card p-4">
    <h4>Produktportfolio</h4>
    <p>Produkte, Produktinfos und Termine in der Übersicht</p>
    <table class="table factsheet">
    <thead>
        <tr>
            <th scope="col">Produkt</th>
            <th>debug cycle</th>
            <th scope="col"><!--Produkt-Version, if any --></th>
            <th scope="col">Nächster Erscheinungstermin</th>
            <th scope="col">Anzeigenschluss</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% setcontent products = 'produkte' %}
        {% for product in products %}
            {% switch product.publish_cycle %}
                {% case "permanently" %}
                    <tr>
                        <th scope="row">
                            <a href="{{ product.link }}">
                                {{ product.title }}
                            </a>
                        </th> 
                        <td>{{ product.publish_cycle }}</td>
                        <td></td> {# no product version for permanently #}
                        <td class="font-italic">{{ product.publish_permanent_issue }}</td>
                        <td class="font-italic">{{ product.publish_permanent_close }}</td>
                    </tr>
                {% case "weekly" %}
                    {% set nextWeekly = "now"|date_modify("next #{product.publish_weekly_weekday}") %}
                    <tr>
                        <th scope="row">
                            <a href="{{ product.link }}">
                                {{ product.title }}
                            </a>
                        </th> 
                        <td>{{ product.publish_cycle }}</td>
                        <td></td> {# no product version for weekly #}
                        <td>{{ nextWeekly |date() |localedatetime("%a. %d.%m.%Y") }}</td>
                        <td>{{ nextWeekly |date_modify("-#{product.publish_weekly_close_offset} days")|localedatetime("%a. %d.%m.") }} {{ product.publish_weekly_close_time }}</td>
                    </tr>
                {% case "single" %}
                    <tr>
                        <th scope="row">
                            <a href="{{ product.link }}">
                                {{ product.title }}
                            </a>
                        </th> 
                        <td>{{ product.publish_cycle }}</td>
                        <td></td> {# no product version for single #}
                        <td>{{ product.publish_single_issue|date()|localedatetime("%a. %d.%m.%Y") }}</td>
                        <td>{{ product.publish_single_close|date()|localedatetime("%a. %d.%m. %H:%M") }}</td>
                    </tr>
                {% case "multiple" %}
                    {% for date in product.publish_multiple %}
                        <tr>
                            <th scope="row">
                                <a href="{{ product.link }}">
                                    {{ product.title }}
                                </a>
                            </th> 
                            <td>{{ product.publish_cycle }}</td>
                            <td>{{ date.publish_multiple_name }}</td>
                            <td>{{ date.publish_multiple_issue |date() |localedatetime("%a. %d.%m.%Y") }}</td>
                            <td>{{ date.publish_multiple_close |date() |localedatetime("%a. %d.%m.%Y %H:%M") }}</td>
                        </tr>
                    {% endfor %}
                {% endswitch %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}
